*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(bg-orange-light.svg);
    background-attachment: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    margin: 10px;

}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    transition: 1s ease-in-out;
    background-color: #fff;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    
}


.wrapper:last-child{
    display: none;  
}

.wrapper.active:nth-child(1){
    display: none;
    
}

.wrapper.active:last-child{
    display: block;
}

h2{
    margin: 10px 20px 0;
    font-size: 2rem;  
    position: relative;
}

h2::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: 	#FF5F1F;
    bottom: 0;
}

.lower-link p{
    text-align: center;
    font-size: .7rem;
    margin-bottom: 10px;
}

.field p{
   color: red;
    font-size: .65rem;
    visibility: hidden;
}

.error p{
    visibility: visible;
}

.check, .exclamation{
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 1.2rem;
   visibility: hidden;

}

.check-pass,.exclamation-pass{
    position: absolute;
   top: 10px;
   right: 25px;
   font-size: 1.2rem;
   visibility: hidden;
}

.check, .check-pass{
    color: green;
}

.exclamation, .exclamation-pass{
    color: red;
}


.success .check,.success .check-pass{
    visibility: visible;
}

.error .exclamation, .error .exclamation-pass{
    visibility: visible;
}



form{
    padding: 20px 20px 0;
    width: 100%;
}


.field{
    position: relative;
    width: 100%;
}

.field input{
    width: 100%;
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    outline: none;
}


.field input:focus{
    border: solid 2px #FF5F1F;
}

.field input:focus ~ .icon{
    color: #FF5F1F;
}

.success input{
    border:2px solid green;
}

.error input{
    border: 2px solid red;
}


.icon{
    position: absolute;
    top:12px;
    left: 5px;
}

.eye1, .eye2{
    top:10px;
    right:5px ;
    padding-right: 2px;
    position: absolute;
    font-size: 1.2rem;
    color: gray;
    cursor: pointer;
}

.eye2{
    display: none;
}

button{
    width: 100%;
    padding: 10px;
    background-color:  	#FF5F1F;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: .9rem;
    letter-spacing: .7px;
    color: #fff;
}

button:active{
    background-color: #0078cc;
}

.wrapper span{
    color:#0096FF ;
    text-decoration: underline;
    cursor: pointer;
}