*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(bg.svg);
    background-attachment: cover;
   
}

.container{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    position: relative;
    margin: 10px;

}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    position: absolute;
    transition: .6s ease-in-out;
    background-color: #fff;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    
}

.wrapper:nth-child(1){
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
}

.wrapper:last-child{
    left: 100%;
    opacity: 0;
}

.wrapper:nth-child(1).active{
    left: -100%;
    opacity: 0;
}

.wrapper:last-child.active{
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

h2{
    margin: 10px 20px 0;
    font-size: 2rem;  
    position: relative;
}

h2::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color:  	#0096FF;
    bottom: 0;
}

.lower-link p{
    text-align: center;
    font-size: .7rem;
    margin-bottom: 10px;
}

.field p{
   color: red;
    font-size: .65rem;
   
}

form{
    padding: 20px 20px 0;
    width: 100%;
}


.field{
    position: relative;
    width: 100%;
}

.field input{
    width: 100%;
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    outline: none;
}


.field input:focus{
    border: solid 2px #0096FF;
}

.field input:focus ~ .icon{
    color: #0096FF;
}

.success input{
    border:2px solid lightgreen;
}

.error input{
    border: 2px solid red;
}


.icon{
    position: absolute;
    top:12px;
    left: 5px;
}

.eye1, .eye2{
    top:10px;
    right:5px ;
    padding-right: 2px;
    position: absolute;
    font-size: 1.2rem;
    color: gray
}

.eye2{
    display: none;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #0096FF;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: .9rem;
    letter-spacing: .7px;
}

button:active{
    background-color: #0078cc;
}

.wrapper span{
    color:#0096FF ;
    text-decoration: underline;
    cursor: pointer;
}